<?xml version="1.0" encoding="UTF-8"?>
<!-- Log4j 2.x 配置文件 -->
<Configuration useTemplate="true" templateEnv="dev" >
    <Properties>
        <!-- 日志级别，默认info,可以在这里改  -->
        <Property name="root.level" value="info"/>
    </Properties>
    <Appenders>
    </Appenders>
    <Loggers>
        <!-- 额外配置一些logger的日志级别 -->
        <Logger name="com.netease.cloudmusic.properties.ConfigReaderZkImpl" level="warn"/>
        <Logger name="org.apache.zookeeper" level="warn"/>
    </Loggers>
</Configuration>